<h1>Edit Book Detail</h1>

<%= form_for :book, url: book_path(@book), method: :patch do |f| %>
	<p> 
		<label for="book_title" > Title </label>:</br>
		<%= text_field 'book', 'title' %>
	</p>
	<p> 
		<label for="book_price"> Price </label>:</br>
		<%= text_field 'book', 'price' %>
	</p>
	<p>
		<label for="book_subject"> Subject </label>:</br>
			<%= collection_select(:book, :subject_id, @subjects, :id, :name) %>
	</p>
	<p>
		<label for="book_description"> Description </label>:<br/>
		<%= text_area 'book', 'description' %>
	</p>

	<%= submit_tag "Save changes" %>

<%end%>

<p><%= link_to 'Back', :action => 'list' %></p>