%div{:style => "overflow: auto;"}
  = render partial: 'shared/subjects'
  #edit_book{:style => "float: left; width: 70%; padding: 10px 0px 0px 20px; background-color: rgb(255, 255, 240); overflow: auto;"}
    %h1 Edit Book Detail
    = form_for :book, url: book_path(@book), method: :patch do |f|
      %p
        = f.label :name, "cover Image"
        %br/
        <img src=#{@book.image.present? ? "#{@book.image.name_url}" : nil}  style="width:50px;height:50px;">
        \#{f.file_field :name}
      %p
        %label{:for => "book_title"}> Title
        \:
        %br/
        = text_field 'book', 'title'
      = succeed ":" do
        %label{:for => "book_author"} Author
      %br/
      = text_field 'book', 'author'
      %p
        %label{:for => "book_price"}> Price
        \:
        %br/
        = text_field 'book', 'price'
      %p
        %label{:for => "book_subject"}> Subject
        \:
        %br/
        = collection_select(:book, :subject_id, @subjects, :id, :name)
      %p
        %label{:for => "book_description"}> Description
        \:
        %br/
        = text_area 'book', 'description'
      = submit_tag "Save changes"
    %b= link_to 'back', book_path(@book)
