<div style= "overflow: auto;" > 
  <%= render partial: 'shared/subjects' %>

  <div id = "new_book" style="float: left; width: 70%; padding: 10px 0px 0px 20px; background-color: rgb(255, 255, 240); overflow: auto;">

    <h1>Add new book</h1>
    <%= form_for :book, url: book_index_path do |f| %>
      <p>
        <%= f.label :cover_image, "Cover Image" %><br/><br/>
        <%= f.file_field :cover_image %>
      </p>

      <p>
        <%= f.label :Title %><br/>
        <%= f.text_field :title %>
      </p>

      <p>
        <%= f.label :author %><br/>
        <%= f.text_field :author %>
      </p>
     
      <p>
        <%= f.label :Price %><br/>
        <%= f.text_field :price %>
      </p>
      
      <p>
        <%= f.label :Subject %><br/>
        <%= f.collection_select(:subject_id,@subjects,:id,:name) %>
      </p>
      
      <p>
        <%= f.label :Description %><br/>
        <%= f.text_field :description %>
      </p>
     
      <p>
        <%= f.submit 'Add Book'%>
      </p>

    <% end %>

    <%= link_to 'Back', {:action => 'list'} %>
  </div>
</div>