%section#about
  .container
    #heading.row.text-center
      #heading-text.col-md-6.col-md-offset-3.wow.animated.zoomInDown
        %h3 About Us
        %p We are here, Nothing to fear
        %hr.full/
        %br/
    / row
    .row.about-us-text
      .col-md-8.col-md-offset-2
        %p.text-center Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
    / row
    .row.main_content
      .col-md-4.wow.animated.zoomIn{"data-wow-delay" => "0.1s"}
        %figure
          %img.pro.img-responsive.center-block{:src => "img/3-col-icons-web.png"}/
        %h5.text-center Web Development
        .row
          .col-xs-12.text-center{:style => "border-right: 1px solid #f4f4f4"}
            %div{:style => "display: inline; width: 60px; height: 60px;"}
              %input.knob{"data-fgcolor" => "#39CCCC", "data-height" => "60", "data-readonly" => "true", "data-width" => "60", :readonly => "readonly", :style => "width: 34px; height: 20px; position: absolute; vertical-align: middle; margin-top: 20px; margin-left: -47px; border: 0px; font-weight: bold; font-style: normal; font-variant: normal; font-stretch: normal; font-size: 12px; line-height: normal; font-family: Arial; text-align: center; /* color: rgb(57, 204, 204); */ padding: 0px; -webkit-appearance: none; background: none;", :type => "text", :value => "90"}/
          / col-xs-12
        / row
      / col-md-4
      .col-md-4.wow.animated.zoomIn{"data-wow-delay" => "0.1s"}
        %figure
          %img.pro.img-responsive.center-block{:src => "img/3-col-icons-android.png"}/
        %h5.text-center Android Development
        .row
          .col-xs-12.text-center{:style => "border-right: 1px solid #f4f4f4"}
            %div{:style => "display: inline; width: 60px; height: 60px;"}
              %input.knob{"data-fgcolor" => "#39CCCC", "data-height" => "60", "data-readonly" => "true", "data-width" => "60", :readonly => "readonly", :style => "width: 34px; height: 20px; position: absolute; vertical-align: middle; margin-top: 20px; margin-left: -47px; border: 0px; font-weight: bold; font-style: normal; font-variant: normal; font-stretch: normal; font-size: 12px; line-height: normal; font-family: Arial; text-align: center; /* color: rgb(57, 204, 204); */ padding: 0px; -webkit-appearance: none; background: none;", :type => "text", :value => "80"}/
          / col-xs-12
        / row
      / col-md-4
      .col-md-4.wow.animated.zoomIn{"data-wow-delay" => "0.1s"}
        %figure
          %img.pro.img-responsive.center-block{:src => "img/3-col-icons-iphone.png"}/
        %h5.text-center iOS Development
        .row
          .col-xs-12.text-center{:style => "border-right: 1px solid #f4f4f4"}
            %div{:style => "display: inline; width: 60px; height: 60px;"}
              %input.knob{"data-fgcolor" => "#39CCCC", "data-height" => "60", "data-readonly" => "true", "data-width" => "60", :readonly => "readonly", :style => "width: 34px; height: 20px; position: absolute; vertical-align: middle; margin-top: 20px; margin-left: -47px; border: 0px; font-weight: bold; font-style: normal; font-variant: normal; font-stretch: normal; font-size: 12px; line-height: normal; font-family: Arial; text-align: center; /* color: rgb(57, 204, 204); */ padding: 0px; -webkit-appearance: none; background: none;", :type => "text", :value => "75"}/
          / col-xs-12
        / row
      / col-md-4
    / row main_content
  / container
/ about us
/ Our service
%section#our_service
  .container
    #heading.row.text-center
      #heading-text.col-md-6.col-md-offset-3.wow.animated.zoomInDown
        %h3 Our Services
        %p We are lucky to service people like you
        %hr.full/
        %br/
    .main_content
      .services
        .row
          .col-sm-4.service
            .service-icon.text-center
              %i.fa.fa-code.fa-5x
            .about-service
              %h3.text-center Web Application
              %p.text-center
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud
          / col-sm-4
          .col-sm-4.service
            .service-icon.text-center
              %i.fa.fa-desktop.fa-5x
            .about-service
              %h3.text-center Web designing
              %p.text-center
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud
          / col-sm-4
          .col-sm-4.service
            .service-icon.text-center
              %i.fa.fa-th.fa-5x
            .about-service
              %h3.text-center Graphics Designing
              %p.text-center
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud
          / col-sm-4
        / row
        .row
          .col-sm-4.service
            .service-icon.text-center
              %i.fa.fa-gamepad.fa-5x
            .about-service
              %h3.text-center Game Development
              %p.text-center
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud
          / col-sm-4
          .col-sm-4.service
            .service-icon.text-center
              %i.fa.fa-lightbulb-o.fa-5x
            .about-service
              %h3.text-center Creative Ideas
              %p.text-center
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud
          / col-sm-4
          .col-sm-4.service
            .service-icon.text-center
              %i.fa.fa-stack-overflow.fa-5x
            .about-service
              %h3.text-center Support
              %p.text-center
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud
          / col-sm-4
        / row
      / services
    / main_content
  / container
/ our_service
/ Our Team
%section#team
  .container
    .team-members
      #heading.row.text-center
        #heading-text.col-md-6.col-md-offset-3.wow.animated.zoomInDown
          %h3 Our Team
          %p We can satisfy your demand
          %hr.full/
          %br/
      .row.main_content
        .col-md-4.col-sm-6.text-center
          .row.wow.animated.zoomIn{"data-wow-delay" => "0.1s"}
            .col-md-8.col-md-offset-2
              %img.img-circle.img-responsive.center-block{:alt => "Syed Rezwanul Haque Rubel", :src => "img/Syed-Rezwanul-Haque.jpg"}/
          %h4.wow.animated.fadeInUp{"data-wow-delay" => "0.2s"} Syed Rezwanul Haque Rubel
          %p.member-title.wow.animated.fadeIn{"data-wow-delay" => "0.3s"} Project Manager
          %p.team-member-description.wow.animated.fadeIn{"data-wow-delay" => "0.4s"} Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna hifd.
          .row.text-center.wow.animated.fadeInDown{"data-wow-delay" => "0.5s"}
            .team-member-contact
              %a.team-facebook{"data-toggle" => "tooltip", :href => "#", :title => "Contact with Facebook"}
                %i.fa.fa-facebook
              %a.team-twitter{"data-toggle" => "tooltip", :href => "#", :title => "Contact with Twitter"}
                %i.fa.fa-twitter
              %a.team-google-plus{"data-toggle" => "tooltip", :href => "#", :title => "Contact with Google-plus"}
                %i.fa.fa-google-plus
        / col-md-4
        .col-md-4.col-sm-6.text-center
          .row.wow.animated.zoomIn{"data-wow-delay" => "0.6s"}
            .col-md-8.col-md-offset-2
              %img.img-circle.img-responsive.center-block{:alt => "Shahjahan Jewel", :src => "img/Shahjahan-Jewel.jpg"}/
          %h4.wow.animated.fadeInUp{"data-wow-delay" => "0.7s"} Shahjahan Jewel
          %p.member-title.wow.animated.fadeIn{"data-wow-delay" => "0.8s"} Head Of Ideas
          %p.team-member-description.wow.animated.fadeIn{"data-wow-delay" => "0.9s"} Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.
          .row.text-center.wow.animated.fadeInDown{"data-wow-delay" => "0.5s"}
            .team-member-contact
              %a.team-facebook{"data-toggle" => "tooltip", :href => "#", :title => "Contact with Facebook"}
                %i.fa.fa-facebook
              %a.team-twitter{"data-toggle" => "tooltip", :href => "#", :title => "Contact with Twitter"}
                %i.fa.fa-twitter
              %a.team-google-plus{"data-toggle" => "tooltip", :href => "#", :title => "Contact with Google-plus"}
                %i.fa.fa-google-plus
        / col-md-4
        .col-md-4.col-sm-6.text-center
          .row.wow.animated.zoomIn{"data-wow-delay" => "1.1s"}
            .col-md-8.col-md-offset-2
              %img.img-circle.img-responsive.center-block{:alt => "Nathan Thomas Paul", :src => "img/nathan.jpg"}/
          %h4.wow.animated.fadeInUp{"data-wow-delay" => "1.2s"} Nathan Thomas Paul
          %p.member-title.wow.animated.fadeIn{"data-wow-delay" => "1.3s"} Client Relations Manager
          %p.team-member-description.wow.animated.fadeIn{"data-wow-delay" => "1.4s"} Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum.
          .row.text-center.wow.animated.fadeInDown{"data-wow-delay" => "0.5s"}
            .team-member-contact
              %a.team-facebook{"data-toggle" => "tooltip", :href => "#", :title => "Contact with Facebook"}
                %i.fa.fa-facebook
              %a.team-twitter{"data-toggle" => "tooltip", :href => "#", :title => "Contact with Twitter"}
                %i.fa.fa-twitter
              %a.team-google-plus{"data-toggle" => "tooltip", :href => "#", :title => "Contact with Google-plus"}
                %i.fa.fa-google-plus
        / col-md-4
      / row main_content
    / team-members
  / container
/ team
/ Portfolio
%section#portfolio
  .container
    #heading.row.text-center
      #heading-text.col-md-6.col-md-offset-3.wow.animated.zoomInDown
        %h3 Our Works
        %p Take a look, Taste our cook
        %hr.full/
        %br/
    .main_content
      .row.port
        #filters.col-md-8.col-md-offset-2.text-center.button-group
          %button.btn.btn-default.is-checked{"data-filter" => "*", :type => "button"} All
          %button.btn.btn-default{"data-filter" => ".web", :type => "button"} Web Design
          %button.btn.btn-default{"data-filter" => ".game", :type => "button"} Game
          %button.btn.btn-default{"data-filter" => ".app", :type => "button"} App
      / row
      .row
        #port-items.isotope
          .col-md-4.col-sm-6.col-xs-6.element-item.web{"data-category" => "web"}
            %img.img-responsive{:src => "img/web-design-1.jpg"}/
          .col-md-4.col-sm-6.col-xs-6.element-item.game{"data-category" => "game"}
            %img.img-responsive{:src => "img/game-2.jpg"}/
          .col-md-4.col-sm-6.col-xs-6.element-item.app{"data-category" => "app"}
            %img.img-responsive{:src => "img/app-1.jpg"}/
          .col-md-4.col-sm-6.col-xs-6.element-item.web{"data-category" => "web"}
            %img.img-responsive{:src => "img/web-design-2.jpg"}/
          .col-md-4.col-sm-6.col-xs-6.element-item.game{"data-category" => "game"}
            %img.img-responsive{:src => "img/game-1.jpg"}/
          .col-md-4.col-sm-6.col-xs-6.element-item.app{"data-category" => "app"}
            %img.img-responsive{:src => "img/app-2.jpg"}/
          .col-md-4.col-sm-6.col-xs-6.element-item.web{"data-category" => "web"}
            %img.img-responsive{:src => "img/web-design-3.jpg"}/
          .col-md-4.col-sm-6.col-xs-6.element-item.game{"data-category" => "game"}
            %img.img-responsive{:src => "img/game-3.jpg"}/
          .col-md-4.col-sm-6.col-xs-6.element-item.app{"data-category" => "app"}
            %img.img-responsive{:src => "img/app-3.jpg"}/
        / isotope
      / row
    / main_content
  / container
/ portfolio
/ Price-Table
%section#price_table
  .container
    #heading.row.text-center
      #heading-text.col-md-6.col-md-offset-3.wow.animated.zoomInDown
        %h3 Price Table
        %p So flexible, More comfortable
        %hr.full/
        %br/
    / row
    .row.main_content
      %ul.price-table-chart
        %li
          %a{:href => "#"}
            %strong Free
            %span.price_table-description 1 Website
            %span.price_table-description 1 Year Updates
            %span.price_table-description No Email Support
            %big.price_table-price $0
            %span.price_table-button Buy Now
        %li
          %a{:href => "#"}
            %strong Business
            %span.price_table-description Unlimited Websites
            %span.price_table-description 1 Year Updates
            %span.price_table-description 1 Year Email Support
            %big.price_table-price $90
            %span.price_table-button Buy Now
        %li
          %a{:href => "#"}
            %strong Premium
            %span.price_table-description Unlimited Websites
            %span.price_table-description Lifetime Updates
            %span.price_table-description Lifetime Email Support
            %big.price_table-price $190
            %span.price_table-button Buy Now
    / row main_content
  / container
/ price_table
/ Blog
%section#blog
  .container
    #heading.row.text-center
      .bg-image
        #heading-text.col-md-6.col-md-offset-3.wow.animated.zoomInDown
          %h3 Our Blog
          %p Sharing knowledge, Accepting challenge.
          %hr.full/
          %br/
    .row.post
      .main_content
        .post-thumbnail.col-md-5
          .frame
            .post-format
              %span.icon-picture
                %i.fa.fa-laptop
            %a{:href => "#"}
              %img.img-responsive{:alt => "", :src => "img/design1.png"}/
          %img.hidden-xs.post-shadow{:alt => "", :src => "img/post-shadow.png"}/
        .post-excerpt.col-md-7
          %h2.title
            %a{:href => "#"} FLAT &amp; MODERN TREND DESIGN
          .line-dotted
          %p
            Diur apelligh to luriem rorde ist thuir quire contears foresa irmde narelair muiers lirguen luirem joires porfelas wateir ogespear pesae. Irmde gues narelair muiers lirguen luirem joires porf wateir ogeepear pesae. Diur tol apelligh to luriem rorde ist thuir quire contears foresa irmde narelair muiers lirguen luirem joires porfelas quie wateir ogespear pesae. Irmde gues narelair muiers lirguen luirem joires porf wateir ogeepear pesae.
            %a{:href => "#"} ...Read more
          .line-dotted
          %p.meta
            %strong Date:
            14/February/2013
            %strong By:
            Zyanya Peredo
            %strong In:
            = succeed "," do
              %a{:href => "#"} Photography
            = succeed "," do
              %a{:href => "#"} Print
            %a{:href => "#"} Design
          .line-dotted
          .post-share
            %p Share this post:
            %ul
              %li
                %a.team-facebook{"data-toggle" => "tooltip", :href => "#", :title => "Contact with Facebook"}
                  %i.fa.fa-facebook
              %li
                %a.team-twitter{"data-toggle" => "tooltip", :href => "#", :title => "Contact with Twitter"}
                  %i.fa.fa-twitter
              %li
                %a.team-google-plus{"data-toggle" => "tooltip", :href => "#", :title => "Contact with Google-plus"}
                  %i.fa.fa-google-plus
    .row.post
      .main_content
        .post-thumbnail.col-md-5
          .frame
            .post-format.image
              %span.icon-facetime-video
                %i.fa.fa-video-camera
            .vimeo-video{"data-height" => "400", "data-width" => "500", :rel => ""}
              %iframe{:allowfullscreen => "", :frameborder => "0", :height => "315", :src => "//www.youtube.com/embed/DN__D5ixme0", :width => "420"}
          %img.hidden-xs.post-shadow{:alt => "", :src => "img/post-shadow.png"}/
        .post-excerpt.col-md-7
          %h2.title
            %a{:href => "#"} Make up forever - tres vichy
          .line-dotted
          %p
            Diur apelligh to luriem rorde ist thuir quire contears foresa irmde narelair muiers lirguen luirem joires porfelas wateir ogespear pesae. Irmde gues narelair muiers lirguen luirem joires porf wateir ogeepear pesae. Diur tol apelligh to luriem rorde ist thuir quire contears foresa irmde narelair muiers lirguen luirem joires porfelas quie wateir ogespear pesae. Irmde gues narelair muiers lirguen luirem joires porf wateir ogeepear pesae.
            %a{:href => "#"} ...Read more
          .line-dotted
          %p.meta
            %strong> Date:
            14/February/2013
            = succeed "Zyanya" do
              %strong By:
            %strong In:
            = succeed "," do
              %a{:href => "#"} Photography
            = succeed "," do
              %a{:href => "#"} Print
            %a{:href => "#"} Design
          .line-dotted
          .post-share
            %p Share this post:
            %ul
              %li
                %a.team-facebook{"data-toggle" => "tooltip", :href => "#", :title => "Contact with Facebook"}
                  %i.fa.fa-facebook
              %li
                %a.team-twitter{"data-toggle" => "tooltip", :href => "#", :title => "Contact with Twitter"}
                  %i.fa.fa-twitter
              %li
                %a.team-google-plus{"data-toggle" => "tooltip", :href => "#", :title => "Contact with Google-plus"}
                  %i.fa.fa-google-plus
    .row.post
      .main_content
        .post-thumbnail.col-md-5
          .frame
            .post-format.quote
              %span.icon-camera-retro
                %i.fa.fa-star
            %a{:href => "#"}
              %img.img-responsive{:alt => "", :src => "img/blog3.png"}/
          %img.hidden-xs.post-shadow{:alt => "", :src => "img/post-shadow.png"}/
        .post-excerpt.col-md-7
          %h2.title
            %a{:href => "#"} Make up forever - Make your web page beautiful.
          .line-dotted
          %p
            Diur apelligh to luriem rorde ist thuir quire contears foresa irmde narelair muiers lirguen luirem joires porfelas wateir ogespear pesae. Irmde gues narelair muiers lirguen luirem joires porf wateir ogeepear pesae.
            %a{:href => "#"} ...Read more
          .line-dotted
          %p.meta
            %strong> Date:
            14/February/2013
            = succeed "Zyanya" do
              %strong By:
            %strong In:
            = succeed "," do
              %a{:href => "#"} Photography
            = succeed "," do
              %a{:href => "#"} Print
            %a{:href => "#"} Design
          .line-dotted
          .post-share
            %p Share this post:
            %ul
              %li
                %a.team-facebook{"data-toggle" => "tooltip", :href => "#", :title => "Contact with Facebook"}
                  %i.fa.fa-facebook
              %li
                %a.team-twitter{"data-toggle" => "tooltip", :href => "#", :title => "Contact with Twitter"}
                  %i.fa.fa-twitter
              %li
                %a.team-google-plus{"data-toggle" => "tooltip", :href => "#", :title => "Contact with Google-plus"}
                  %i.fa.fa-google-plus
    .row.post
      .main_content
        .post-thumbnail.col-md-5
          .frame
            .post-format.gallery
              %span.icon-quote-left
                %i.fa.fa-bookmark
            %a{:href => "#"}
              %img.img-responsive{:alt => "", :src => "img/global_focus.jpg"}/
          %img.hidden-xs.post-shadow{:alt => "", :src => "img/post-shadow.png"}/
        .post-excerpt.col-md-7
          %h2.title
            %a{:href => "#"} The most beautiful quotes ever
          .line-dotted
          %p
            Diur apelligh to luriem rorde ist thuir quire contears foresa irmde narelair muiers lirguen luirem joires porfelas wateir ogespear pesae. Irmde gues narelair muiers lirguen luirem joires porf wateir ogeepear pesae. Diur tol apelligh to luriem rorde ist thuir quire contears foresa irmde narelair muiers lirguen luirem joires porfelas quie wateir ogespear pesae. Irmde gues narelair muiers lirguen luirem joires porf wateir ogeepear pesae.
            %a{:href => "#"} ...Read more
          .line-dotted
          %p.meta
            %strong Date:
            14/February/2013
            %strong By:
            Zyanya Peredo
            %strong In:
            = succeed "," do
              %a{:href => "#"} Photography
            = succeed "," do
              %a{:href => "#"} Print
            %a{:href => "#"} Design
          .line-dotted
          .post-share
            %p Share this post:
            %ul
              %li
                %a.team-facebook{"data-toggle" => "tooltip", :href => "#", :title => "Contact with Facebook"}
                  %i.fa.fa-facebook
              %li
                %a.team-twitter{"data-toggle" => "tooltip", :href => "#", :title => "Contact with Twitter"}
                  %i.fa.fa-twitter
              %li
                %a.team-google-plus{"data-toggle" => "tooltip", :href => "#", :title => "Contact with Google-plus"}
                  %i.fa.fa-google-plus
    .row
      .col-md-6.col-md-offset-3.text-center
        %ul.pagination
          %li.disabled
            %a{:href => "#"} &gt;&gt;
          %li.active
            %a{:href => "#"}
              1
              %span.sr-only (current)
          %li
            %a{:href => "#"} 2
          %li
            %a{:href => "#"} 3
          %li
            %a{:href => "#"} 4
          %li
            %a{:href => "#"} 5
          %li
            %a{:href => "#"} &gt;&gt;
  / container
/ blog
/ Clients
%section#testimonial
  .container
    #heading.row.text-center
      .bg-image.col-md-12
        #heading-text.col-md-6.col-md-offset-3.wow.animated.zoomInDown
          %h3 Testimonials
          %p Their satisfication, Our inspiration.
          %hr.full/
          %br/
    .row.main_content
      .col-md-6.col-md-offset-3
        #client-speech.owl-carousel.owl-theme
          .item
            .row
              .col-md-6.col-md-offset-3
                %img.img-circle.img-responsive.center-block{:src => "img/client1.png"}/
              .col-md-12
                %p.client-comment.text-center
                  When you form a team, why do you try to form a team? Because teamwork builds trust and trust builds speed.
            .row.text-center
              %p.client-name.text-center ----- Noona Nuengthida Sophon
          .item
            .row
              .col-md-6.col-md-offset-3
                %img.img-circle.img-responsive.center-block{:src => "img/client2.jpg"}/
              .col-md-12
                %p.client-comment.text-center
                  I am constantly being asked about individuals. The only way to win is as a team. Football is not about one or two or three star players.
            .row.text-center
              %p.client-name -----Md. Aminul Islam Bhuiyan
          .item
            .row
              .col-md-6.col-md-offset-3
                %img.img-circle.img-responsive.center-block{:src => "img/client3.png"}/
              .col-md-12
                %p.client-comment.text-center
                  Individual commitment to a group effort- that is what makes a team work, a company work, a society work, a civilisation work.
            .row.text-center
              %p.client-name -----  Jenifar Pink
/ clients
/ contact
%section#contact
  .container
    #heading.row.text-center
      .bg-image
        #heading-text.col-lg-6.col-lg-offset-3.share-text.wow.animated.zoomInDown
          %h3.text-center Stay Connected
          %p We want to connect people like you.
          %hr.full/
          %br/
    .row.text-center.main_content
      .col-md-6.col-md-offset-3.text-center
        %form{:action => "#", :method => "post"}
          .form
            .input-group.margin-bottom-sm
              %span.input-group-addon
                %i.fa.fa-user.fa-fw
              %input.form-control{:placeholder => "Name", :required => "", :type => "text"}/
            .input-group.margin-bottom-sm
              %span.input-group-addon
                %i.fa.fa-envelope-o.fa-fw
              %input.form-control{:placeholder => "Email address", :required => "", :type => "text"}/
            .input-group.margin-bottom-sm
              %span.input-group-addon
                %i.fa.fa-tags.fa-fw
              %input.form-control{:placeholder => "Subject", :type => "text"}/
          .input-group.margin-bottom-sm
            %span.input-group-addon
              %i.fa.fa-comment-o.fa-fw
            %textarea.form-control{:placeholder => "Your Message", :required => "", :rows => "6", :type => "text"}
          %input.btn.btn-primary.send{:type => "submit", :value => "Send Message"}/
    .row
      .col-md-6.col-md-offset-3.text-center
        %ul.socials-icons
          %li
            %a.facebook{"data-toggle" => "tooltip", :href => "#", :title => "Share in Facebook"}
              %i.fa.fa-facebook
          %li
            %a.twitter{"data-toggle" => "tooltip", :href => "#", :title => "Share in Twitter"}
              %i.fa.fa-twitter
          %li
            %a.google-plus{"data-toggle" => "tooltip", :href => "#", :title => "Share in Google +"}
              %i.fa.fa-google-plus
          %li
            %a.instagram{"data-toggle" => "tooltip", :href => "#", :title => "Share in Instagram"}
              %i.fa.fa-instagram
          %li
            %a.pinterest{"data-toggle" => "tooltip", :href => "#", :title => "Share in Pinterest"}
              %i.fa.fa-pinterest
          %li
            %a.skype{"data-toggle" => "tooltip", :href => "#", :title => "Connect with Skype"}
              %i.fa.fa-skype
/ contacts
/ footer
%section#footer.main-footer
  .row
    .logo.text-center
      %h1 Renessa
  .row
    .copyright.text-center
      %p
        © 2014 Technext. Designed and Developed by
        %a{:href => "http://themewagon.com"}
          %span.theme Themewagon
/ footer

