%section#registration
  .container
    .row.text-center.main_content
      = form_for :user_profile, url: edit_user_profile_path(@profile), html: { method: :put } do |f|
        .form
          .input-group.margin-bottom-sm
            %span.input-group-addon
              %i.fa.fa-user.fa-fw
            = f.text_field :name, value: @profile.name, autofocus: true, class: 'form-control', placeholder: 'Name'
          %div
            .input-group.margin-bottom-sm.col-md-6
              %span.input-group-addon
                %i.fa.fa-birthday-cake.fa-fw
              = f.date_field :dob, value: @profile.dob, class: 'form-control', placeholder: 'date_of_birth'
            .input-group.margin-bottom-sm.col-md-6
              %span.input-group-addon
                %i.fa.fa-venus-mars.fa-fw
              = f.select 'sex', [ ['---- Gender ----', ''], ['male', 'Male'], ['female', 'Female'], ['other', 'Other']], {}, { :class => 'form-control'}
        = f.submit "Update", class: 'btn btn-primary send'