<div style = "overflow: auto;" >
<h1>Welcome <%=current_user.first_name%> </h1>

<p>

	Phone No.:- <%=@user_profile.phone_no%><br/>
	Sex:- <%=@user_profile.sex%><br/>
	Date of Birth:- <%=@user_profile.date_of_birth%><br/>
	Address:- <%=@user_profile.address%><br/>

</p>

<p><%= link_to 'Edit', edit_user_profile_path(@user_profile) %></p>

</div>